API_KEY=931b8d33d08688aba1b99e930ba06784
BASE_URL=https://api.themoviedb.org/3
ENVIRONMENT=development
# Copy these lines in a new .env file and put the API key there.
# It's important never to commit sensitive information such as an API key.